/* General styles */

  
  .home {
    text-align: center;
    padding: 50px 20px;
  }
  
  /* Intro Section */

  .introCont{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
  }

  .intro .title {
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .intro .name {
    font-size: 3rem;
    margin: 0;
    line-height: 1.2;
  }
  
  .intro .name span {
    color: var(--activeCol);
  }
  .dark .intro .name span {
    color: var(--darkActiveCol);
  }
  
  .intro .description {
    margin: 20px auto;
    font-size: 1.2rem;
    color: #aaa;
    max-width: 500px;
  }
  
  .buttons {
    /* margin: 30px auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* flex-direction: column; */
  }
  
  /* Button styles */
  .btn-download {
    background-color: transparent;
    color:  var(--activeCol);
    border: 2px solid  var(--activeCol);
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }

  .dark .btn-download {
    color:  var(--darkActiveCol);
    border: 2px solid  var(--darkActiveCol);

  }
  
  .btn-download:hover {
    background-color:  var(--activeCol);
    color: white;
  }

  .dark .btn-download:hover {
    background-color:  var(--darkActiveCol);
    color: black;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    /* margin-top: 20px; */
  }
  
  .icon {
    font-size: 1.5rem;
    color: black;
    transition: color 0.3s ease;
  }
  
  .icon:hover {
    color: var(--activeCol);
  }

  .dark .icon {
    font-size: 1.5rem;
    transition: color 0.3s ease;
    color: white;
  }
  
  .dark .icon:hover {
    color: var(--darkActiveCol);
    
  }
  
  .icon a {
    text-decoration: none;
  }
  
  
  /* Profile Section */

  
  .profile-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px dashed  var(--activeCol); */
    border-radius: 50%;
    /* padding: 0.8rem; */
    width: 250px;
    height: 250px;
    /* border: 1px solid red; */
  }
  
  .profile-pic {
    width: 85%;
    height: 85%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    transition: all 0.5s;
  }
  
  .profile-pic:hover{
    transform: scale(0.95);
  }
  
  /* Stats Section */
  .stats {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
  }
  
  .stat h2 {
    font-size: 2rem;
    color:  var(--activeCol);
  }

  .dark .stat h2 {
    color:  var(--darkActiveCol);
  }
  
  .stat p {
    font-size: 1rem;
    color: #aaa;
  }
  

  @media screen and (max-width:700px) {
      .introCont{
        flex-direction: column-reverse;
      }

      .profile-circle{
        width: 180px;
        height: 180px;
        margin-bottom: 30px;
      }

      .stats{
        gap: 10px;
        margin-top: 30px;
      }
      .stat p{
        font-size: 0.8rem;
      }
      .stat h2{
        font-size: 1.5rem;

      }
  }