.projects{
  /* padding-top: 50px; */
  /* height: auto !important; */
  /* background:var(--color1); */
  /* padding-top: 5%; */
}

.projects .head{
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: var(--color2);
}

.projects .proCont{
  margin-top: 2%;
  /* border: 1px solid black; */
  /* height: 75%; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1% 5%;
  /* overflow: auto; */
}

.projects .proCont .projectCard{
  /* border: 1px solid black; */
  /* margin-top: 5%; */
  height: 40%;
  width: 30%;
  /* cursor: pointer; */
}

.projects .proCont .projectCard img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.4em;
}

.projects .proCont .projectCard .nameDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: var(--activeCol);
  margin-top:5%;
  /* font-weight: bold; */
}

.projects .proCont .projectData{
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* color: white; */
  margin-bottom: 1%;
  font-size: 0.8em;
  /* flex-direction: column; */
  /* transform: scale(0.9); */
}

.projects .proCont .projectData .proDesc{
  width: 65%;
  /* text-align: center; */
}
.projects .proCont .projectData .proDesc .techStack .techImgCont{
  display: flex;
}
.projects .proCont .projectData .proDesc .techStack  img{
  margin-right: 5px;
  height: 40px;
}

.projects .proCont .projectData .proDesc .bottomCont{
  display: flex;
  width: 100%;
 gap: 10%;
 margin-top: 1%;
}


.featuresCont{
  display: flex;
  justify-content: space-around;
}

.projects a{
  text-decoration: none;
}





.swiper.swiper-initialized{
  /* height: 350px; */
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .swiper-slide{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .swiper-button-prev,
  .swiper-button-next{
      color:var(--activeCol) !important;
      font-weight: bold;
  }
  
  .swiper-pagination-bullet{
      background: var(--activeCol) !important;
  }

  .swiper-pagination{
    bottom: -4px !important;

  }
  
  .swiper-scrollbar-drag{
  background:var(--activeCol) !important;
  }
  

  @media screen and (max-width:700px){
    .projects .proCont .projectData .proDesc .bottomCont{

      flex-direction: column;
    }
.projects .proCont .projectCard {
  width: 100%;
}

.projects .proCont .projectData .proDesc {
  width: 100%;
}

.featuresCont{
  flex-direction: column;
}

.projects .proCont .projectData{
  flex-direction: column;
}
  }