.projectScreen.imgCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 20px;
}

.projectScreen.imgCont img {
    max-height: 700px;
    max-width: 700px;
    /* border: 2px solid var(--activeCol); */
    padding: 2%;
    box-shadow: var(--activeCol) 0px 3px 8px;

}