.servicesCont {
}

.servicesCont h1 {
  margin-top: 3%;
  text-align: center;
  color: var(--activeCol);
}



.servicesCont h3 {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}

.servicesCont .cardsCont {
  /* border: 1px solid red; */
  padding: 20px 50px;
  margin-top: 30px;
  display: flex;
  column-gap: 5%;
  row-gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.servicesCont .cardsCont .card {
  width: 20%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 10px var(--activeCol), 0 1px 2px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  text-align: center;
}
.dark .servicesCont .cardsCont .card {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px var(--activeCol),
    /* Dark shadow */ 0 1px 2px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  text-align: center;
}
.servicesCont .cardsCont .card .desc {
  height: 70px;
}
.servicesCont .cardsCont .card button {
  margin-top: 20px;
  cursor: pointer;
  background: var(--activeCol);
  padding: 6px 30px;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  display: flex;
  align-items: center;
  opacity: 0.9;
  transition: all 0.5s;
}

.servicesCont .cardsCont .card button:hover{
   opacity: 1;
}
.servicesCont .cardsCont .card button svg{
   transition: all 0.5s;
}
.servicesCont .cardsCont .card button:hover svg{
   transform:  rotate(360deg)
}

.dark .servicesCont .cardsCont .card button {
  background: var(--activeCol);
  color: black;
}
.servicesCont .cardsCont .card .title {
  margin: 10px 0;
  color: var(--activeCol);
  font-weight: bolder;
}

.dark .servicesCont .cardsCont .card .title {
   margin: 10px 0;
   color: var(--activeCol);
 }

.servicesCont .cardsCont .card img {
  height: 70px;
}
