:root{
  --darkBlack:#1c1b22;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: calibri;
}

body{
  font-size: 16px;
}
/* Light Theme */
.light {
  /* background-color: #ECF0F1; */
  background-color: white;
  color: #000000;
  --activeCol:#2980b9;
  --textCol:white

}

/* Dark Theme */
.dark {
  background-color: var(--darkBlack);
  background: radial-gradient(circle, rgba(10,10,22,1) 55%, rgba(22,24,55,1) 99%);
  color: #ffffff;
  --activeCol:#00ff99;
  --textCol:black;

}


