:root{
  --darkBlack:#1c1b22;
}

#root{
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: calibri;
}

body{
  font-size: 16px;
}
/* Light Theme */
.light {
  /* background-color: #ECF0F1; */
  background-color: white;
  color: #000000;
  --activeCol:#2980b9;
  --textCol:black;
  --bgCol:#ffff;


}

/* Dark Theme */
.dark {
  background-color: var(--darkBlack);
  background: radial-gradient(circle, rgba(10,10,22,1) 55%, rgba(22,24,55,1) 99%);
  color: #ffffff;
  --activeCol:#00ff99;
  --textCol:white;
  --bgCol:#1c1b22;


}



.errCard{
  position: fixed;
  top: 2%;
  width: 40%;
  color: white;
  padding: 1%;
  text-align: center;
  left:30%;
  right: 0;
  font-size: 1.5em;
  border-radius: 0.2em;
  animation: fadeIn 0.5s;
  z-index: 1000000;
}

.errCard.error{
  background: indianred;
}

.errCard.success{
  background: #2ecc71;

}



@media screen and (max-width:700px) {
    body{
      padding:10px !important;
    }
}